
<div class="container">
  <div class="jumbotron">
    <h1>Welcome <%= current_user.name %></h1>
    <p>Play madlibs, create your own stories, see other user's stories.</p>
  </div
</div>


NEEDS TITLE <BR><BR>


<%= @random_story.finished_story %>
