<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/sessions.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <style>
  /* body {background-color: blanchedalmond;} */

  </style>


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="/users/new"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>

<div class="container" >
  <div class="jumbotron" style="background:transparent url(/assets/background.jpg) no-repeat center /cover">
    <h1 style="color:midnightblue;">MADLIBS!</h1>
    <p style="color:midnightblue;"> Play madlibs, create your own stories, see other user's stories.</p>
  </div
</div>

<div class="row">
  <div class="col-sm-4"><%= yield %></div>
  <div class="col-sm-8">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
</div>



</body>
</html>
